In [1]:
import os
setup_script = os.path.join(os.environ['ENV_JUPYTER_SETUPS_DIR'], 'setup_sci_env_basic.py')
%run $setup_script

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [2]:
load_mpl_style('single_plot.mplstyle')
ignore_warnings()

In [3]:
from pandas_datareader import data as web
import datetime as dt
import time
import bs4 as bs
import csv
import requests
import os
import quandl

In [4]:
ftse100 = pd.read_csv('./ftse100_tickers_corrected.dat')

Merge data

In [5]:
df_main = pd.DataFrame()
for ticker in ftse100[:3]['ticker']:
    df = pd.read_csv('./data/{}.dat'.format(ticker))
    df['ticker'] = ticker
    #column_names = ['Adj Close', 'Open', 'High', 'Low'] 
    #df.rename(columns={'Adj Close':ticker}, inplace=True)
    #print(df)
    #df.set_index(['Date', 'ticker'], inplace=True)
    if df_main.empty:
        df_main = df
    else:
        df_main = df_main.append(df)

In [6]:
df_main

,Date,Open,High,Low,Close,Adj Close,Volume,ticker
0,2015-01-02,4.200000,4.270000,3.990000,4.190000,4.040357,100500,III
1,2015-01-05,4.190000,4.210000,4.000000,4.030000,3.886072,38500,III
2,2015-01-06,4.050000,4.050000,3.860000,3.930000,3.789643,34300,III
3,2015-01-07,3.970000,4.050000,3.850000,4.020000,3.876429,40400,III
4,2015-01-08,4.070000,4.080000,3.960000,4.010000,3.866786,34000,III
5,2015-01-09,4.000000,4.040000,3.940000,4.000000,3.857143,43500,III
6,2015-01-12,3.920000,4.000000,3.900000,3.920000,3.780000,72200,III
7,2015-01-13,3.830000,4.030000,3.830000,3.920000,3.920000,33300,III
8,2015-01-14,3.880000,3.970000,3.850000,3.970000,3.970000,43400,III
9,2015-01-15,3.950000,3.950000,3.760000,3.830000,3.830000,43500,III
10,2015-01-16,3.810000,4.050000,3.810000,4.000000,4.000000,62400,III
11,2015-01-20,3.980000,4.080000,3.870000,3.960000,3.960000,49000,III
12,2015-01-21,3.910000,3.930000,3.810000,3.850000,3.850000,41200,III
13,2015-01-22,3.880000,4.000000,3.770000,3.950000,3.950000,47300,III
14,2015-01-23,3.970000,4.100000,3.890000,4.050000,4.050000,141000,III
15,2015-01-26,4.020000,4.430000,3.990000,4.280000,4.280000,88500,III
16,2015-01-27,4.270000,4.290000,4.160000,4.240000,4.240000,22300,III
17,2015-01-28,4.280000,4.290000,3.940000,4.050000,4.050000,79800,III
18,2015-01-29,4.030000,4.120000,3.990000,4.120000,4.120000,31100,III
19,2015-01-30,4.070000,4.160000,3.930000,4.020000,4.020000,110900,III
20,2015-02-02,4.000000,4.080000,3.940000,4.030000,4.030000,25600,III
21,2015-02-03,4.020000,4.390000,4.020000,4.360000,4.360000,49500,III
22,2015-02-04,4.370000,4.390000,4.100000,4.110000,4.110000,43500,III
23,2015-02-05,4.120000,4.270000,4.070000,4.250000,4.250000,21700,III
24,2015-02-06,4.260000,4.360000,4.210000,4.310000,4.310000,53700,III
25,2015-02-09,4.280000,4.340000,4.170000,4.220000,4.220000,53800,III
26,2015-02-10,4.280000,4.280000,4.140000,4.180000,4.180000,18100,III
27,2015-02-11,4.160000,4.220000,4.030000,4.090000,4.090000,36500,III
28,2015-02-12,4.110000,4.160000,4.090000,4.160000,4.160000,11900,III
29,2015-02-13,4.140000,4.190000,4.060000,4.130000,4.130000,17400,III
...,...,...,...,...,...,...,...,...
768,2018-01-22,57.990002,58.340000,57.529999,58.099998,57.988483,3553900,AAL
769,2018-01-23,57.740002,58.459999,57.400002,58.290001,58.178120,3337000,AAL
770,2018-01-24,54.349998,55.459999,53.450001,54.790001,54.684837,16348500,AAL
771,2018-01-25,54.000000,54.549999,52.209999,53.049999,52.948177,10223100,AAL
772,2018-01-26,53.650002,53.900002,52.340000,53.070000,52.968136,7066100,AAL
773,2018-01-29,52.790001,53.160000,52.590000,52.680000,52.578888,5953700,AAL
774,2018-01-30,52.450001,53.049999,52.360001,52.590000,52.489059,4741800,AAL
775,2018-01-31,53.080002,54.709999,53.000000,54.320000,54.215740,5962900,AAL
776,2018-02-01,54.000000,54.639999,53.590000,53.880001,53.776585,3623100,AAL
777,2018-02-02,53.490002,53.990002,52.029999,52.099998,52.000000,5109400,AAL
778,2018-02-05,51.230000,52.389999,49.750000,49.759998,49.759998,6878300,AAL
779,2018-02-06,49.320000,51.500000,48.790001,51.180000,51.180000,6782500,AAL
780,2018-02-07,50.910000,51.980000,50.889999,51.400002,51.400002,4845800,AAL
781,2018-02-08,51.439999,51.459999,48.509998,48.599998,48.599998,5995100,AAL
782,2018-02-09,49.700001,49.730000,46.330002,48.360001,48.360001,6837800,AAL
783,2018-02-12,48.790001,50.509998,48.650002,50.090000,50.090000,5437800,AAL
784,2018-02-13,49.700001,50.919998,49.639999,50.869999,50.869999,3758000,AAL
785,2018-02-14,50.240002,51.560001,50.110001,51.070000,51.070000,4983200,AAL
786,2018-02-15,51.450001,51.880001,50.939999,51.669998,51.669998,3140800,AAL
787,2018-02-16,51.799999,52.209999,51.529999,51.580002,51.580002,3891300,AAL
788,2018-02-20,51.230000,52.230000,51.099998,51.720001,51.720001,3379700,AAL
789,2018-02-21,51.959999,53.860001,51.830002,52.779999,52.779999,5396700,AAL
790,2018-02-22,53.240002,53.410000,52.700001,52.980000,52.980000,4356700,AAL
791,2018-02-23,53.299999,53.480000,52.720001,53.389999,53.389999,3394700,AAL
792,2018-02-26,53.990002,55.130001,53.919998,55.000000,55.000000,4962100,AAL
793,2018-02-27,54.889999,55.599998,54.240002,54.259998,54.259998,4878400,AAL
794,2018-02-28,54.410000,54.599998,53.639999,54.250000,54.250000,4343800,AAL
795,2018-03-01,54.139999,55.310001,53.299999,53.480000,53.480000,5895600,AAL
796,2018-03-02,52.900002,53.419998,51.869999,53.180000,53.180000,4904100,AAL
797,2018-03-05,52.900002,53.689999,52.700001,53.365002,53.365002,2205572,AAL

In [7]:
df_main.set_index(['ticker', 'Date'], inplace=True)

In [9]:
df_main.loc['III']

            Open  High   Low  Close  Adj Close  Volume
Date
2015-01-02  4.20  4.27  3.99   4.19   4.040357  100500
2015-01-05  4.19  4.21  4.00   4.03   3.886072   38500
2015-01-06  4.05  4.05  3.86   3.93   3.789643   34300
2015-01-07  3.97  4.05  3.85   4.02   3.876429   40400
2015-01-08  4.07  4.08  3.96   4.01   3.866786   34000
2015-01-09  4.00  4.04  3.94   4.00   3.857143   43500
2015-01-12  3.92  4.00  3.90   3.92   3.780000   72200
2015-01-13  3.83  4.03  3.83   3.92   3.920000   33300
2015-01-14  3.88  3.97  3.85   3.97   3.970000   43400
2015-01-15  3.95  3.95  3.76   3.83   3.830000   43500
2015-01-16  3.81  4.05  3.81   4.00   4.000000   62400
2015-01-20  3.98  4.08  3.87   3.96   3.960000   49000
2015-01-21  3.91  3.93  3.81   3.85   3.850000   41200
2015-01-22  3.88  4.00  3.77   3.95   3.950000   47300
2015-01-23  3.97  4.10  3.89   4.05   4.050000  141000
2015-01-26  4.02  4.43  3.99   4.28   4.280000   88500
2015-01-27  4.27  4.29  4.16   4.24   4.240000   22300
2015-01-28  4.28  4.29  3.94   4.05   4.050000   79800
2015-01-29  4.03  4.12  3.99   4.12   4.120000   31100
2015-01-30  4.07  4.16  3.93   4.02   4.020000  110900
2015-02-02  4.00  4.08  3.94   4.03   4.030000   25600
2015-02-03  4.02  4.39  4.02   4.36   4.360000   49500
2015-02-04  4.37  4.39  4.10   4.11   4.110000   43500
2015-02-05  4.12  4.27  4.07   4.25   4.250000   21700
2015-02-06  4.26  4.36  4.21   4.31   4.310000   53700
2015-02-09  4.28  4.34  4.17   4.22   4.220000   53800
2015-02-10  4.28  4.28  4.14   4.18   4.180000   18100
2015-02-11  4.16  4.22  4.03   4.09   4.090000   36500
2015-02-12  4.11  4.16  4.09   4.16   4.160000   11900
2015-02-13  4.14  4.19  4.06   4.13   4.130000   17400
...          ...   ...   ...    ...        ...     ...
2018-01-22  4.19  4.23  4.15   4.20   4.200000   16600
2018-01-23  4.17  4.21  4.13   4.17   4.170000    2700
2018-01-24  4.19  4.25  4.14   4.21   4.210000   12600
2018-01-25  4.25  4.26  4.19   4.25   4.250000   16200
2018-01-26  4.24  4.44  4.19   4.34   4.340000   38500
2018-01-29  4.33  4.33  4.22   4.28   4.280000   19000
2018-01-30  4.28  4.36  4.27   4.29   4.290000    6300
2018-01-31  4.31  4.34  4.22   4.26   4.260000   57800
2018-02-01  4.26  4.33  4.25   4.26   4.260000   13300
2018-02-02  4.22  4.27  4.20   4.21   4.210000   24000
2018-02-05  4.15  4.22  4.11   4.13   4.130000   45600
2018-02-06  4.05  4.28  3.95   4.12   4.120000   98000
2018-02-07  4.10  4.19  4.10   4.17   4.170000   24200
2018-02-08  4.18  4.18  4.08   4.08   4.080000   49300
2018-02-09  4.11  4.18  3.89   4.13   4.130000   33300
2018-02-12  4.09  4.20  4.09   4.19   4.190000   25000
2018-02-13  4.14  4.26  4.14   4.24   4.240000   10000
2018-02-14  4.19  4.27  4.19   4.23   4.230000   22000
2018-02-15  4.28  4.28  4.21   4.26   4.260000   21000
2018-02-16  4.23  4.30  4.22   4.24   4.240000   12500
2018-02-20  4.22  4.27  4.19   4.23   4.230000   15300
2018-02-21  4.26  4.28  4.20   4.27   4.270000   16300
2018-02-22  4.30  4.30  3.99   4.24   4.240000   76800
2018-02-23  4.27  4.33  4.26   4.32   4.320000   12900
2018-02-26  4.33  4.33  4.27   4.32   4.320000    6600
2018-02-27  4.29  4.32  4.27   4.30   4.300000   11000
2018-02-28  4.29  4.34  4.19   4.22   4.220000   36000
2018-03-01  4.23  4.48  4.02   4.22   4.220000   52900
2018-03-02  4.18  4.24  4.16   4.21   4.210000   71800
2018-03-05  4.18  4.25  4.18   4.24   4.240000   19337

[798 rows x 6 columns]