In [1]:
import os
setup_script = os.path.join(os.environ['ENV_JUPYTER_SETUPS_DIR'], 'setup_sci_env_basic.py')
%run $setup_script

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [2]:
load_mpl_style('single_plot.mplstyle')
ignore_warnings()

In [3]:
from pandas_datareader import data as web
import datetime as dt
import time
import bs4 as bs
import csv
import requests
import os
import quandl
import quant.quant as q

In [4]:
ftse100 = pd.read_csv('./ftse100_tickers.dat')

Merge data

In [5]:
df_main = pd.DataFrame()
for ticker in ftse100['ticker']:
    df = pd.read_csv('./data/{}.dat'.format(ticker))
    df['ticker'] = ticker
    #column_names = ['Adj Close', 'Open', 'High', 'Low'] 
    #df.rename(columns={'Adj Close':ticker}, inplace=True)
    #print(df)
    #df.set_index(['Date', 'ticker'], inplace=True)
    if df_main.empty:
        df_main = df
    else:
        df_main = df_main.append(df)

In [6]:
df_main

,Date,Open,High,Low,Close,Adj Close,Volume,ticker
0,2015-01-02,3.606870,3.606870,3.606870,3.606870,3.155493,0.0,III.L
1,2015-01-05,3.612750,3.612750,3.612750,3.612750,3.160638,0.0,III.L
2,2015-01-06,3.616650,3.616650,3.616650,3.616650,3.164050,0.0,III.L
3,2015-01-07,3.612890,3.612890,3.612890,3.612890,3.160760,0.0,III.L
4,2015-01-08,3.619900,3.619900,3.619900,3.619900,3.166893,0.0,III.L
5,2015-01-09,3.616570,3.616570,3.616570,3.616570,3.163980,0.0,III.L
6,2015-01-12,3.616200,3.616200,3.616200,3.616200,3.163656,0.0,III.L
7,2015-01-13,3.608630,3.608630,3.608630,3.608630,3.157033,0.0,III.L
8,2015-01-14,3.602600,3.602600,3.602600,3.602600,3.151758,0.0,III.L
9,2015-01-15,3.590420,3.590420,3.590420,3.590420,3.141102,0.0,III.L
10,2015-01-16,4.310000,4.366000,4.287000,4.363000,3.816999,1824059.0,III.L
11,2015-01-19,3.594660,3.594660,3.594660,3.594660,3.144811,0.0,III.L
12,2015-01-20,3.603520,3.603520,3.603520,3.603520,3.152563,0.0,III.L
13,2015-01-21,3.618590,3.618590,3.618590,3.618590,3.165747,0.0,III.L
14,2015-01-22,3.604100,3.604100,3.604100,3.604100,3.153070,0.0,III.L
15,2015-01-23,3.596710,3.596710,3.596710,3.596710,3.146605,0.0,III.L
16,2015-01-26,3.591580,3.591580,3.591580,3.591580,3.142117,0.0,III.L
17,2015-01-27,4.611000,4.699000,4.570000,4.633000,4.053210,1748091.0,III.L
18,2015-01-28,4.645000,4.668000,4.595000,4.641000,4.060209,1421945.0,III.L
19,2015-01-29,3.729620,3.729620,3.729620,3.729620,3.262882,0.0,III.L
20,2015-01-30,3.704220,3.704220,3.704220,3.704220,3.240661,0.0,III.L
21,2015-02-02,3.708910,3.708910,3.708910,3.708910,3.244764,0.0,III.L
22,2015-02-03,3.710000,3.710000,3.710000,3.710000,3.245718,0.0,III.L
23,2015-02-04,3.696420,3.696420,3.696420,3.696420,3.233837,0.0,III.L
24,2015-02-05,4.724000,4.780000,4.719000,4.767000,4.170441,1326759.0,III.L
25,2015-02-06,3.682030,3.682030,3.682030,3.682030,3.221248,0.0,III.L
26,2015-02-09,3.681560,3.681560,3.681560,3.681560,3.220837,0.0,III.L
27,2015-02-10,3.683640,3.683640,3.683640,3.683640,3.222656,0.0,III.L
28,2015-02-11,3.679230,3.679230,3.679230,3.679230,3.218798,0.0,III.L
29,2015-02-12,3.681320,3.681320,3.681320,3.681320,3.220627,0.0,III.L
...,...,...,...,...,...,...,...,...
777,2018-01-29,226.449997,226.449997,224.500000,226.350006,226.350006,47152532.0,WPP.L
778,2018-01-30,225.949997,227.350006,224.250000,224.399994,224.399994,61371939.0,WPP.L
779,2018-01-31,225.199997,225.550003,223.500000,224.600006,224.600006,72426736.0,WPP.L
780,2018-02-01,221.600006,223.550003,212.000000,214.399994,214.399994,167419257.0,WPP.L
781,2018-02-02,215.000000,223.750000,212.699997,219.500000,219.500000,176273299.0,WPP.L
782,2018-02-05,218.949997,218.949997,210.300003,210.699997,210.699997,118024799.0,WPP.L
783,2018-02-06,205.000000,211.850006,200.500000,205.300003,205.300003,144483203.0,WPP.L
784,2018-02-07,206.949997,210.899994,205.300003,210.000000,210.000000,95717427.0,WPP.L
785,2018-02-08,209.149994,209.149994,203.500000,203.649994,203.649994,84239240.0,WPP.L
786,2018-02-09,203.699997,204.600006,201.449997,201.800003,201.800003,79654362.0,WPP.L
787,2018-02-12,205.000000,205.300003,202.149994,202.199997,202.199997,79102039.0,WPP.L
788,2018-02-13,203.000000,203.050003,200.050003,200.600006,200.600006,71182548.0,WPP.L
789,2018-02-14,201.800003,202.399994,199.300003,199.740005,199.740005,96311528.0,WPP.L
790,2018-02-15,201.149994,201.149994,199.360001,199.860001,199.860001,60232393.0,WPP.L
791,2018-02-16,201.500000,205.250000,201.050003,204.649994,204.649994,105567426.0,WPP.L
792,2018-02-19,205.100006,205.300003,202.399994,203.550003,203.550003,63861859.0,WPP.L
793,2018-02-20,204.250000,205.000000,202.300003,203.000000,203.000000,48768773.0,WPP.L
794,2018-02-21,203.500000,204.399994,201.899994,202.399994,202.399994,46621287.0,WPP.L
795,2018-02-22,200.899994,201.949997,199.679993,201.850006,201.850006,73686907.0,WPP.L
796,2018-02-23,203.000000,205.149994,202.149994,203.850006,203.850006,52759655.0,WPP.L
797,2018-02-26,205.199997,206.550003,204.449997,205.550003,205.550003,41414746.0,WPP.L
798,2018-02-27,206.000000,206.800003,203.649994,204.800003,204.800003,43362997.0,WPP.L
799,2018-02-28,203.350006,205.350006,202.949997,203.750000,203.750000,53519752.0,WPP.L
800,2018-03-01,204.050003,205.250000,201.649994,202.350006,202.350006,55181542.0,WPP.L
801,2018-03-02,201.399994,202.300003,198.740005,199.020004,199.020004,48101146.0,WPP.L
802,2018-03-05,199.520004,202.800003,199.139999,202.300003,202.300003,73275398.0,WPP.L
803,2018-03-06,204.350006,204.550003,202.649994,203.399994,203.399994,46219197.0,WPP.L
804,2018-03-07,203.000000,205.550003,202.600006,204.500000,204.500000,53340463.0,WPP.L
805,2018-03-08,205.149994,208.250000,204.750000,207.600006,207.600006,61114612.0,WPP.L
806,2018-03-09,207.149994,207.500000,205.300003,207.000000,207.000000,47049780.0,WPP.L

In [7]:
df_main.set_index(['ticker', 'Date'], inplace=True)

In [8]:
df_main.index.names

FrozenList(['ticker', 'Date'])

In [9]:
df_main.keys()

Index(['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

In [10]:
df_main

                         Open        High         Low       Close   Adj Close  \
ticker Date
III.L  2015-01-02    3.606870    3.606870    3.606870    3.606870    3.155493
       2015-01-05    3.612750    3.612750    3.612750    3.612750    3.160638
       2015-01-06    3.616650    3.616650    3.616650    3.616650    3.164050
       2015-01-07    3.612890    3.612890    3.612890    3.612890    3.160760
       2015-01-08    3.619900    3.619900    3.619900    3.619900    3.166893
       2015-01-09    3.616570    3.616570    3.616570    3.616570    3.163980
       2015-01-12    3.616200    3.616200    3.616200    3.616200    3.163656
       2015-01-13    3.608630    3.608630    3.608630    3.608630    3.157033
       2015-01-14    3.602600    3.602600    3.602600    3.602600    3.151758
       2015-01-15    3.590420    3.590420    3.590420    3.590420    3.141102
       2015-01-16    4.310000    4.366000    4.287000    4.363000    3.816999
       2015-01-19    3.594660    3.594660    3.594660    3.594660    3.144811
       2015-01-20    3.603520    3.603520    3.603520    3.603520    3.152563
       2015-01-21    3.618590    3.618590    3.618590    3.618590    3.165747
       2015-01-22    3.604100    3.604100    3.604100    3.604100    3.153070
       2015-01-23    3.596710    3.596710    3.596710    3.596710    3.146605
       2015-01-26    3.591580    3.591580    3.591580    3.591580    3.142117
       2015-01-27    4.611000    4.699000    4.570000    4.633000    4.053210
       2015-01-28    4.645000    4.668000    4.595000    4.641000    4.060209
       2015-01-29    3.729620    3.729620    3.729620    3.729620    3.262882
       2015-01-30    3.704220    3.704220    3.704220    3.704220    3.240661
       2015-02-02    3.708910    3.708910    3.708910    3.708910    3.244764
       2015-02-03    3.710000    3.710000    3.710000    3.710000    3.245718
       2015-02-04    3.696420    3.696420    3.696420    3.696420    3.233837
       2015-02-05    4.724000    4.780000    4.719000    4.767000    4.170441
       2015-02-06    3.682030    3.682030    3.682030    3.682030    3.221248
       2015-02-09    3.681560    3.681560    3.681560    3.681560    3.220837
       2015-02-10    3.683640    3.683640    3.683640    3.683640    3.222656
       2015-02-11    3.679230    3.679230    3.679230    3.679230    3.218798
       2015-02-12    3.681320    3.681320    3.681320    3.681320    3.220627
...                       ...         ...         ...         ...         ...
WPP.L  2018-01-29  226.449997  226.449997  224.500000  226.350006  226.350006
       2018-01-30  225.949997  227.350006  224.250000  224.399994  224.399994
       2018-01-31  225.199997  225.550003  223.500000  224.600006  224.600006
       2018-02-01  221.600006  223.550003  212.000000  214.399994  214.399994
       2018-02-02  215.000000  223.750000  212.699997  219.500000  219.500000
       2018-02-05  218.949997  218.949997  210.300003  210.699997  210.699997
       2018-02-06  205.000000  211.850006  200.500000  205.300003  205.300003
       2018-02-07  206.949997  210.899994  205.300003  210.000000  210.000000
       2018-02-08  209.149994  209.149994  203.500000  203.649994  203.649994
       2018-02-09  203.699997  204.600006  201.449997  201.800003  201.800003
       2018-02-12  205.000000  205.300003  202.149994  202.199997  202.199997
       2018-02-13  203.000000  203.050003  200.050003  200.600006  200.600006
       2018-02-14  201.800003  202.399994  199.300003  199.740005  199.740005
       2018-02-15  201.149994  201.149994  199.360001  199.860001  199.860001
       2018-02-16  201.500000  205.250000  201.050003  204.649994  204.649994
       2018-02-19  205.100006  205.300003  202.399994  203.550003  203.550003
       2018-02-20  204.250000  205.000000  202.300003  203.000000  203.000000
       2018-02-21  203.500000  204.399994  201.899994  202.399994  202.399994
       2018-02-22  200.899994  201.949997  199.679993  201.850006  201.850006
       2018-02-23  203.000000  205.149994  202.149994  203.850006  203.850006
       2018-02-26  205.199997  206.550003  204.449997  205.550003  205.550003
       2018-02-27  206.000000  206.800003  203.649994  204.800003  204.800003
       2018-02-28  203.350006  205.350006  202.949997  203.750000  203.750000
       2018-03-01  204.050003  205.250000  201.649994  202.350006  202.350006
       2018-03-02  201.399994  202.300003  198.740005  199.020004  199.020004
       2018-03-05  199.520004  202.800003  199.139999  202.300003  202.300003
       2018-03-06  204.350006  204.550003  202.649994  203.399994  203.399994
       2018-03-07  203.000000  205.550003  202.600006  204.500000  204.500000
       2018-03-08  205.149994  208.250000  204.750000  207.600006  207.600006
       2018-03-09  207.149994  207.500000  205.300003  207.000000  207.000000

                        Volume
ticker Date
III.L  2015-01-02          0.0
       2015-01-05          0.0
       2015-01-06          0.0
       2015-01-07          0.0
       2015-01-08          0.0
       2015-01-09          0.0
       2015-01-12          0.0
       2015-01-13          0.0
       2015-01-14          0.0
       2015-01-15          0.0
       2015-01-16    1824059.0
       2015-01-19          0.0
       2015-01-20          0.0
       2015-01-21          0.0
       2015-01-22          0.0
       2015-01-23          0.0
       2015-01-26          0.0
       2015-01-27    1748091.0
       2015-01-28    1421945.0
       2015-01-29          0.0
       2015-01-30          0.0
       2015-02-02          0.0
       2015-02-03          0.0
       2015-02-04          0.0
       2015-02-05    1326759.0
       2015-02-06          0.0
       2015-02-09          0.0
       2015-02-10          0.0
       2015-02-11          0.0
       2015-02-12          0.0
...                        ...
WPP.L  2018-01-29   47152532.0
       2018-01-30   61371939.0
       2018-01-31   72426736.0
       2018-02-01  167419257.0
       2018-02-02  176273299.0
       2018-02-05  118024799.0
       2018-02-06  144483203.0
       2018-02-07   95717427.0
       2018-02-08   84239240.0
       2018-02-09   79654362.0
       2018-02-12   79102039.0
       2018-02-13   71182548.0
       2018-02-14   96311528.0
       2018-02-15   60232393.0
       2018-02-16  105567426.0
       2018-02-19   63861859.0
       2018-02-20   48768773.0
       2018-02-21   46621287.0
       2018-02-22   73686907.0
       2018-02-23   52759655.0
       2018-02-26   41414746.0
       2018-02-27   43362997.0
       2018-02-28   53519752.0
       2018-03-01   55181542.0
       2018-03-02   48101146.0
       2018-03-05   73275398.0
       2018-03-06   46219197.0
       2018-03-07   53340463.0
       2018-03-08   61114612.0
       2018-03-09   47049780.0

[80105 rows x 6 columns]

In [11]:
df_main.xs('III.L', level='ticker')

               Open     High      Low    Close  Adj Close     Volume
Date
2015-01-02  3.60687  3.60687  3.60687  3.60687   3.155493        0.0
2015-01-05  3.61275  3.61275  3.61275  3.61275   3.160638        0.0
2015-01-06  3.61665  3.61665  3.61665  3.61665   3.164050        0.0
2015-01-07  3.61289  3.61289  3.61289  3.61289   3.160760        0.0
2015-01-08  3.61990  3.61990  3.61990  3.61990   3.166893        0.0
2015-01-09  3.61657  3.61657  3.61657  3.61657   3.163980        0.0
2015-01-12  3.61620  3.61620  3.61620  3.61620   3.163656        0.0
2015-01-13  3.60863  3.60863  3.60863  3.60863   3.157033        0.0
2015-01-14  3.60260  3.60260  3.60260  3.60260   3.151758        0.0
2015-01-15  3.59042  3.59042  3.59042  3.59042   3.141102        0.0
2015-01-16  4.31000  4.36600  4.28700  4.36300   3.816999  1824059.0
2015-01-19  3.59466  3.59466  3.59466  3.59466   3.144811        0.0
2015-01-20  3.60352  3.60352  3.60352  3.60352   3.152563        0.0
2015-01-21  3.61859  3.61859  3.61859  3.61859   3.165747        0.0
2015-01-22  3.60410  3.60410  3.60410  3.60410   3.153070        0.0
2015-01-23  3.59671  3.59671  3.59671  3.59671   3.146605        0.0
2015-01-26  3.59158  3.59158  3.59158  3.59158   3.142117        0.0
2015-01-27  4.61100  4.69900  4.57000  4.63300   4.053210  1748091.0
2015-01-28  4.64500  4.66800  4.59500  4.64100   4.060209  1421945.0
2015-01-29  3.72962  3.72962  3.72962  3.72962   3.262882        0.0
2015-01-30  3.70422  3.70422  3.70422  3.70422   3.240661        0.0
2015-02-02  3.70891  3.70891  3.70891  3.70891   3.244764        0.0
2015-02-03  3.71000  3.71000  3.71000  3.71000   3.245718        0.0
2015-02-04  3.69642  3.69642  3.69642  3.69642   3.233837        0.0
2015-02-05  4.72400  4.78000  4.71900  4.76700   4.170441  1326759.0
2015-02-06  3.68203  3.68203  3.68203  3.68203   3.221248        0.0
2015-02-09  3.68156  3.68156  3.68156  3.68156   3.220837        0.0
2015-02-10  3.68364  3.68364  3.68364  3.68364   3.222656        0.0
2015-02-11  3.67923  3.67923  3.67923  3.67923   3.218798        0.0
2015-02-12  3.68132  3.68132  3.68132  3.68132   3.220627        0.0
...             ...      ...      ...      ...        ...        ...
2018-01-29  6.44509  6.44509  6.44509  6.44509   6.445090        0.0
2018-01-30  6.44246  6.44246  6.44246  6.44246   6.442460        0.0
2018-01-31  6.96047  6.96047  6.96047  6.96047   6.960470        0.0
2018-02-01  6.97064  6.97064  6.97064  6.97064   6.970640        0.0
2018-02-02  9.52800  9.54400  9.42200  9.49400   9.494000  2935917.0
2018-02-05  9.41000  9.41000  9.22800  9.31400   9.314000  2737373.0
2018-02-06  8.97600  9.13000  8.81400  8.95600   8.956000  4013848.0
2018-02-07  9.03600  9.36600  8.97600  9.35600   9.356000  3176806.0
2018-02-08  9.28600  9.36400  9.09800  9.13000   9.130000  3426777.0
2018-02-09  9.09000  9.16400  8.80600  8.88400   8.884000  4437538.0
2018-02-12  8.99600  9.07400  8.85600  8.90200   8.902000  2511274.0
2018-02-13  8.87800  8.98600  8.87400  8.87800   8.878000  1832249.0
2018-02-14  8.96200  9.15200  8.81800  8.91000   8.910000  2229978.0
2018-02-15  6.95106  6.95106  6.95106  6.95106   6.951060        0.0
2018-02-16  6.95290  6.95290  6.95290  6.95290   6.952900        0.0
2018-02-19  6.95363  6.95363  6.95363  6.95363   6.953630        0.0
2018-02-20  6.95126  6.95126  6.95126  6.95126   6.951260        0.0
2018-02-21  6.95740  6.95740  6.95740  6.95740   6.957400        0.0
2018-02-22  6.95362  6.95362  6.95362  6.95362   6.953620        0.0
2018-02-23  6.95208  6.95208  6.95208  6.95208   6.952080        0.0
2018-02-26  6.95388  6.95388  6.95388  6.95388   6.953880        0.0
2018-02-27  6.95481  6.95481  6.95481  6.95481   6.954810        0.0
2018-02-28  9.40200  9.46600  9.34600  9.39600   9.396000  2726683.0
2018-03-01  6.95559  6.95559  6.95559  6.95559   6.955590        0.0
2018-03-02  6.95728  6.95728  6.95728  6.95728   6.957280        0.0
2018-03-05  6.95440  6.95440  6.95440  6.95440   6.954400        0.0
2018-03-06  9.31800  9.36600  9.23200  9.27400   9.274000  1534815.0
2018-03-07  9.25800  9.31800  9.21400  9.27000   9.270000  2464986.0
2018-03-08  9.28200  9.33000  9.22000  9.29800   9.298000  2083246.0
2018-03-09  9.29200  9.31800  9.17000  9.22400   9.224000  1961034.0

[807 rows x 6 columns]

In [12]:
df_main['Adj Close']

ticker  Date
III.L   2015-01-02      3.155493
        2015-01-05      3.160638
        2015-01-06      3.164050
        2015-01-07      3.160760
        2015-01-08      3.166893
        2015-01-09      3.163980
        2015-01-12      3.163656
        2015-01-13      3.157033
        2015-01-14      3.151758
        2015-01-15      3.141102
        2015-01-16      3.816999
        2015-01-19      3.144811
        2015-01-20      3.152563
        2015-01-21      3.165747
        2015-01-22      3.153070
        2015-01-23      3.146605
        2015-01-26      3.142117
        2015-01-27      4.053210
        2015-01-28      4.060209
        2015-01-29      3.262882
        2015-01-30      3.240661
        2015-02-02      3.244764
        2015-02-03      3.245718
        2015-02-04      3.233837
        2015-02-05      4.170441
        2015-02-06      3.221248
        2015-02-09      3.220837
        2015-02-10      3.222656
        2015-02-11      3.218798
        2015-02-12      3.220627
                         ...
WPP.L   2018-01-29    226.350006
        2018-01-30    224.399994
        2018-01-31    224.600006
        2018-02-01    214.399994
        2018-02-02    219.500000
        2018-02-05    210.699997
        2018-02-06    205.300003
        2018-02-07    210.000000
        2018-02-08    203.649994
        2018-02-09    201.800003
        2018-02-12    202.199997
        2018-02-13    200.600006
        2018-02-14    199.740005
        2018-02-15    199.860001
        2018-02-16    204.649994
        2018-02-19    203.550003
        2018-02-20    203.000000
        2018-02-21    202.399994
        2018-02-22    201.850006
        2018-02-23    203.850006
        2018-02-26    205.550003
        2018-02-27    204.800003
        2018-02-28    203.750000
        2018-03-01    202.350006
        2018-03-02    199.020004
        2018-03-05    202.300003
        2018-03-06    203.399994
        2018-03-07    204.500000
        2018-03-08    207.600006
        2018-03-09    207.000000
Name: Adj Close, Length: 80105, dtype: float64

In [13]:
df_main['RSI_SMA'] = 0
df_main['RSI_EWMA'] = 0

In [14]:
df_main.loc['EZJ.L'].assign(RSI_SMA=q.RSI(df_main.loc['EZJ.L']['Adj Close'], 14, avg='sma'))
df_main.loc['EZJ.L', 'RSI_EWMA'] = q.RSI(df_main.loc['EZJ.L']['Adj Close'], 14, avg='ewma')

In [15]:
idx = pd.IndexSlice

In [16]:
a = q.RSI(df_main.loc['EZJ.L']['Adj Close'], 14, avg='sma')

In [17]:
df_main.loc[idx['EZJ.L']]['RSI_SMA'] = a

In [18]:
df_main.loc[idx['EZJ.L'],

SyntaxError: unexpected EOF while parsing (<ipython-input-18-b407430a9a71>, line 1)

In [19]:
a.values

array([         nan,          nan,          nan,          nan,
                nan,          nan,          nan,          nan,
                nan,          nan,          nan,          nan,
                nan,  44.30381218,  53.56200189,  54.16665594,
        59.63541955,  69.12925473,  70.2412287 ,  76.28200058,
        74.01242514,  57.46527656,  60.18179016,  61.64619493,
        60.89965087,  57.43243645,  51.82607328,  57.21077195,
        54.62184576,  50.59021524,  45.96374937,  45.60531143,
        49.16942056,  37.25098795,  42.66665624,  51.14155757,
        57.0824777 ,  52.34742946,  61.18252865,  59.57232011,
        63.54896569,  54.56037034,  46.78944391,  56.13410384,
        59.47140752,  48.03362683,  48.28139829,  51.36079955,
        49.46800346,  54.21665755,  45.40692131,  46.08306657,
        54.27171678,  67.01387223,  69.64853342,  73.04075059,
        77.9264022 ,  76.25896263,  81.34326179,  78.13623331,
        78.05758301,  77.89857264,  77.1535685 ,  75.73531597,
        68.89630209,  68.79193674,  63.09521804,  61.41075166,
        62.19512192,  54.33071835,  50.54945061,  42.9577442 ,
        41.13476405,  47.15445608,  40.59830581,  47.94005758,
        43.46155146,  41.39194531,  49.23078613,  49.61830263,
        44.36089251,  36.40001656,  27.23209616,  28.63844538,
        28.5046146 ,  31.60618121,  45.99157603,  57.14287987,
        53.42961722,  25.60385969,  26.04420656,  33.96674239,
        33.1730587 ,  30.87557855,  31.7535368 ,  30.73393127,
        28.45010478,  28.03346864,  33.05613945,  38.40156083,
        30.10098141,  23.35456189,  25.446426  ,  38.12707869,
        38.12709607,  31.9852652 ,  29.05659647,  29.61538794,
        29.05661153,  38.95131392,  42.97519595,  48.9270181 ,
        36.47538938,  24.51919175,  28.1767767 ,  35.75417548,
        41.919198  ,  50.58142316,  55.55556363,  54.09840138,
        51.83247315,  51.29528785,  45.62213929,  38.54167039,
        51.62788707,  50.71090086,  58.15213452,  57.5268996 ,
        61.42133053,  53.20195068,  60.74376848,  65.82733208,
        64.15094834,  60.58392847,  61.94031745,  67.70431137,
        80.31496453,  81.81818643,  64.16384706,  71.54474222,
        73.55374699,  69.35064114,  59.81086607,  63.08068994,
        57.10226537,  45.86895086,  45.08669539,  50.42016828,
        51.54929028,  55.20832516,  52.35456584,  47.70114196,
        56.0810589 ,  37.00437458,  32.14282003,  42.46032237,
        58.10811824,  60.085841  ,  62.50004841,  60.54686728,
        61.15382456,  42.9936181 ,  40.24391379,  45.40391824,
        44.63275121,  50.        ,  47.57032518,  45.70024793,
        51.38540334,  58.13449834,  54.1850354 ,  54.18503552,
        55.17241896,  59.53491922,  56.50226934,  68.47830881,
        71.38812782,  63.88891801,  64.38361313,  59.47958097,
        61.53852237,  70.04221343,  55.22385992,  49.36708928,
        51.99999752,  56.62649853,  45.49179971,  43.02324042,
        53.13654303,  50.88338231,  48.32214326,  57.46476974,
        49.87404992,  41.25001011,  46.09217529,  44.6215066 ,
        50.53995138,  45.73458326,  44.06392365,  40.9638398 ,
        43.87753283,  50.38560392,  43.81719573,  44.65753143,
        46.04517184,  43.82353269,  52.49169275,  74.99998439,
        66.49999236,  61.86049967,  60.76558562,  47.80703753,
        54.33787872,  52.60665472,  59.83938345,  60.15935892,
        60.64255526,  61.13361073,  65.6488956 ,  53.16456077,
        53.16456077,  50.21100945,  39.93288278,  41.0344539 ,
        44.11762714,  45.30200642,  38.22631153,  31.35134658,
        25.29408062,  24.62904249,  26.8292479 ,  31.50287202,
        26.50600014,  32.01219047,  27.27271299,  36.15384302,
        49.27952587,  49.56521734,  45.61934292,  52.2152031 ,
        51.88679087,  59.99997003,  64.74357847,  64.05227738,
        63.69634348,  55.30543544,  59.38460529,  57.55625054,
        66.09588044,  59.19997483,  60.46512614,  60.23165993,
        60.70040929,  57.72358724,  72.60870628,  74.22226305,
        44.94382032,  50.        ,  50.50505056,  56.29630811,
        46.95340865,  39.50614978,  33.52939392,  32.75860712,
        31.37827494,  31.75070897,  33.9180889 ,  36.10314706,
        30.33034534,  26.50919133,  33.89262737,  18.93691128,
        23.27045914,  33.87535102,  35.41076789,  36.65690868,
        37.87881577,  37.87879987,  26.7806294 ,  34.0482899 ,
        34.57449996,  28.70813093,  33.25634766,  41.19107364,
        45.90164515,  53.65238682,  51.83245452,  42.89941028,
        43.67470055,  45.45455322,  47.077923  ,  54.56853092,
        64.37406553,  61.59155746,  65.09455956,  69.34731295,
        60.08403676,  65.99146559,  58.52458042,  56.58550847,
        54.94781191,  49.61984158,  54.86799143,  61.63857415,
        56.65376208,  53.13431734,  48.76711977,  51.0471234 ,
        44.13409784,  49.08536283,  54.77708619,  40.22989623,
        48.4962347 ,  47.01493972,  47.3684132 ,  57.20339014,
        51.67461703,  44.27084033,  42.28855463,  35.02300798,
        41.79897738,  32.09875952,  34.66661263,  40.24391958,
        37.97464311,  34.48271128,  28.74998902,  33.93939566,
        36.47059598,  28.34228618,  28.34228618,  28.96179081,
        45.09803071,  67.22222349,  67.03908263,  53.88126009,
        46.09376164,  43.44262515,  42.25944404,  43.34767385,
        52.34657935,  57.00326294,  52.00000813,  51.52439652,
        48.01137436,  49.44133867,  46.53179915,  46.22091572,
        42.66303234,  49.552237  ,  59.69230648,  61.47059388,
        65.34390978,  65.3439096 ,  61.91861191,  53.56038601,
        53.39505368,  59.46845392,  65.85365486,  61.35593808,
        63.8158059 ,  50.52634105,  55.17243493,  44.26229432,
        37.02421972,  29.29291329,  22.22224946,  23.34632423,
        30.38869856,  48.40579224,  51.86336014,  50.47022086,
        51.38463963,  31.56901783,  19.03585838,  24.54655439,
        26.21589566,  27.93932116,  28.91720464,  29.55729874,
        27.62148379,  26.69963307,  25.22067961,  19.20979916,
        21.92865889,  26.59175788,  24.41139395,  38.87146059,
        65.95745556,  60.48633635,  54.35437341,  55.97669091,
        46.8513817 ,  43.66196379,  45.5882417 ,  46.44194239,
        45.41984729,  42.95213812,  42.79999985,  34.60364999,
        34.08407378,  21.04377948,  25.99999766,  32.83333895,
        36.34750503,  41.72077213,  50.5905402 ,  57.1111069 ,
        65.57690234,  70.02052859,  59.67741804,  55.85937327,
        57.03423449,  61.03448246,  65.79926127,  70.61068734,
        70.61070219,  63.96761033,  62.60161296,  58.18181295,
        57.91854573,  64.80685221,  59.40594595,  61.22452009,
        73.93616714,  79.88823808,  81.15181472,  73.98837083,
        63.05417989,  56.33802236,  44.04761837,  46.05808283,
        44.75808927,  41.32230171,  37.87879566,  30.6772987 ,
        31.76469966,  31.27411537,  24.03101085,  22.22225862,
        15.41666243,  15.35270531,  16.89497785,  18.31683804,
        21.76471264,  27.47253817,  20.70393089,  18.24817751,
        18.83239191,  26.73795699,  22.34635839,  21.73911806,
        24.57142067,  24.38563082,  30.31357634,  33.33332559,
        37.03040971,  35.14430394,  39.96569445,  36.31579134,
        52.23879886,  55.68180512,  66.66665712,  58.2392674 ,
        59.68467781,  69.56519567,  72.5489998 ,  71.15382338,
        66.88739803,  68.74997743,  69.93985279,  75.15788097,
        75.5693324 ,  70.73643125,  74.31971925,  73.32215184,
        72.44368119,  73.59156119,  72.23199228,  68.72587649,
        59.75855024,  57.4468134 ,  55.11022733,  47.73662972,
        45.02163809,  40.32257697,  37.6842115 ,  37.21412584,
        20.31663137,  26.409511  ,  22.25702158,  30.24691461,
        29.16666352,  25.3885941 ,  35.23317889,  38.30986182,
        46.78218514,  58.52016281,  55.08849721,  59.00471759,
        57.70169896,  65.37394578,  66.30726481,  58.35410379,
        52.13033151,  49.47089794,  48.07197416,  60.42780166,
        65.42053595,  68.73506984,  61.84209848,  59.94476576,
        55.35712376,  51.91388156,  51.91388156,  49.31817971,
        54.67478509,  57.9741366 ,  58.47824448,  58.47824467,
        67.54564162,  45.65218018,  42.24423173,  39.74359727,
        38.0368116 ,  31.290316  ,  32.44147572,  33.7391318 ,
        32.88135438,  35.54007736,  25.81889805,  25.57252722,
        29.52383064,  32.97101303,  23.93508036,  40.70510603,
        29.9242272 ,  33.05437389,  38.91626358,  50.24393642,
        52.82052806,  60.51280965,  69.30696654,  63.7047767 ,
        73.75460128,  81.41468492,  82.29773249,  80.75150388,
        83.51206575,  77.92412235,  78.58729533,  73.02447042,
        66.47911625,  71.73470229,  76.02999414,  76.09940015,
        76.03367201,  76.95034633,  76.36362896,  78.47681456,
        72.37762582,  67.9577632 ,  56.96594298,  64.42576759,
        62.1082575 ,  66.66664271,  66.85877883,  55.63140441,
        59.3750039 ,  62.099125  ,  56.59823929,  56.26821817,
        53.9877367 ,  60.10639696,  57.07070205,  61.46340454,
        72.90639921,  63.13131286,  64.82410839,  63.54165726,
        75.59394592,  79.14891489,  78.31856263,  79.66802688,
        79.99995823,  81.93274747,  78.51237223,  75.47167129,
        83.56806189,  82.9268114 ,  82.58704423,  92.73501879,
        93.35935707,  93.72692107,  92.34231853,  90.23257409,
        86.97676587,  85.78682523,  59.50704317,  60.06944927,
        63.0661981 ,  64.42952826,  64.06778441,  67.08074825,
        69.45245122,  68.07229874,  66.0256501 ,  65.91640022,
        66.97820188,  63.04983644,  64.17909447,  54.6703258 ,
        72.62775514,  70.32966566,  70.22058961,  64.47875702,
        61.29032107,  60.65573193,  56.56108621,  41.0138373 ,
        44.82757673,  38.96103198,  32.06751081,  36.57410415,
        38.1818294 ,  48.00000565,  56.78391295,  51.94685607,
        54.36566757,  53.89508855,  57.11120042,  50.93870828,
        46.68468429,  55.11860456,  45.19415115,  66.27450666,
        71.24361298,  71.09914213,  64.9957053 ,  66.43384305,
        61.7150804 ,  73.87084767,  64.17112919,  69.83241148,
        45.01989916,  41.69741524,  36.06557172,  35.83061527,
        38.81579817,  20.8510696 ,  20.67511004,  17.15328808,
        23.55072636,  21.56134436,  22.99269863,  17.57812351,
        23.41268755,  21.86234585,  32.53013973,  33.12882044,
        41.22138297,  47.85717252,  61.37566526,  61.57896542,
        56.25001494,  65.00000014,  60.73617046,  61.21209874,
        51.93369685,  39.1489304 ,  35.87444657,  34.33476121,
        31.49606773,  37.75100897,  37.5999945 ,  32.9268181 ,
        11.21496719,   9.30232986,  14.14144066,  14.7368639 ,
        29.38600529,  28.00002464,  33.80955615,  47.13376296,
        49.07976917,  51.28205748,  65.33327217,  62.31879452,
        52.43903561,  53.08643413,  58.10809994,  64.81476761,
        67.97747583,  61.42130179,  56.32180338,  68.22032211,
        69.38773834,  63.74044764,  63.60151256,  59.49821784,
        51.38889838,  53.79537589,  64.82084028,  69.57831391,
        69.57831391,  63.2835847 ,  63.71680616,  68.2389976 ,
        62.03703881,  55.91398328,  54.27508681,  52.32975415,
        53.81944921,  59.42028582,  56.35737697,  57.52508003,
        58.22369376,  54.96452767,  53.44827821,  54.57745096,
        50.76336354,  47.8260731 ,  44.44443977,  42.50871787,
        42.1052677 ,  44.28044178,  41.92307466,  37.8787843 ,
        54.13534024,  46.66668312,  35.94468752,  48.8970522 ,
        53.84615006,  61.48148111,  58.18181144,  64.28571434,
        78.16090832,  76.86272571,  76.09558004,  82.67712043,
        82.67712036,  85.71423432,  84.01820632,  89.99992235,
        91.58874061,  78.91560463,  77.98734775,  67.58618205,
        72.59252425,  62.90317692,  38.57145676,  52.54237055,
        55.37634649,  50.5952418 ,  54.14365643,  54.14365643,
        49.07976776,  54.14362449,  60.66350553,  70.60134211,
        64.43091545,  67.94055333,  69.89901574,  67.71041304,
        70.90164644,  72.95238606,  69.94220946,  65.39857456,
        65.27274214,  62.98247966,  62.54357362,  67.9583006 ,
        59.78090399,  65.17616594,  72.06267027,  67.03296696,
        68.92980337,  69.89496794,  71.47971493,  67.03448524,
        69.00827155,  69.58330794,  65.8674052 ,  68.71343165,
        71.11414607,  53.35234314,  53.2005669 ,  44.89113896,
        41.76990936,  50.0914254 ,  41.07884992,  43.29007283,
        47.66356849,  53.23590684,  55.64354288,  56.31262176,
        48.28179692,  53.33332295,  51.99362881,  63.92157502,
        62.7522639 ,  50.62809325,  50.90442221,  39.86794578,
        44.5177387 ,  45.32962721,  42.88841823])

In [123]:
#df_main.loc['EZJ.L', 'RSI_SMA'] = 23
df_main.loc['EZJ.L', 'RSI_SMA'] = a.values
df_main.loc['EZJ.L']

,Open,High,Low,Close,Adj Close,Volume,RSI_SMA,RSI_EWMA
Date,,,,,,,,
2015-01-02,1681.0,1695.000000,1653.000000,1683.0,1457.314087,833990.0,NaN,NaN
2015-01-05,1677.0,1731.000000,1673.000000,1703.0,1474.632202,2162274.0,NaN,NaN
2015-01-06,1707.0,1721.000000,1671.000000,1682.0,1456.448120,2153937.0,NaN,NaN
2015-01-07,1695.0,1702.500000,1632.000000,1644.0,1423.543945,2361086.0,NaN,NaN
2015-01-08,1656.0,1666.000000,1607.000000,1616.0,1399.298706,2044323.0,NaN,NaN
2015-01-09,1616.0,1640.000000,1600.000000,1630.0,1411.421265,1905450.0,NaN,NaN
2015-01-12,1635.0,1646.000000,1612.500000,1631.0,1412.287109,1649697.0,NaN,NaN
2015-01-13,1627.0,1660.260010,1624.000000,1656.0,1433.934570,1699251.0,NaN,NaN
2015-01-14,1646.0,1660.000000,1607.000000,1619.0,1401.896240,1298005.0,NaN,NaN
2015-01-15,1629.0,1650.000000,1614.000000,1645.0,1424.409912,1430331.0,NaN,NaN
2015-01-16,1636.0,1642.000000,1582.000000,1600.0,1385.444092,2154175.0,NaN,NaN
2015-01-19,1598.0,1613.000000,1594.000000,1612.0,1395.834961,730081.0,NaN,NaN
2015-01-20,1620.0,1657.000000,1611.449951,1654.0,1432.203125,1537661.0,NaN,NaN
2015-01-21,1658.0,1672.000000,1630.000000,1647.0,1426.141602,2048160.0,44.303812,NaN
2015-01-22,1632.0,1720.000000,1631.000000,1710.0,1480.693481,2872686.0,53.562002,NaN
2015-01-23,1718.0,1743.000000,1697.000000,1735.0,1502.341064,1922791.0,54.166656,NaN
2015-01-26,1736.0,1781.000000,1728.000000,1756.0,1520.525024,2706210.0,59.635420,NaN
2015-01-27,1810.0,1839.000000,1767.000000,1789.0,1549.099854,4691138.0,69.129255,NaN
2015-01-28,1795.0,1798.280029,1741.000000,1767.0,1530.049927,1735730.0,70.241229,NaN
2015-01-29,1802.0,1883.250000,1787.000000,1876.0,1624.433350,3226315.0,76.282001,NaN
2015-01-30,1929.0,1929.000000,1856.000000,1862.0,1612.310669,2165804.0,74.012425,NaN
2015-02-02,1855.0,1855.000000,1725.000000,1742.0,1508.402344,3684900.0,57.465277,NaN
2015-02-03,1744.0,1766.000000,1717.000000,1731.0,1498.877319,2036956.0,60.181790,NaN
2015-02-04,1732.0,1782.750000,1703.000000,1778.0,1539.574829,2454114.0,61.646195,NaN
2015-02-05,1760.0,1780.000000,1714.689941,1726.0,1494.547974,1994555.0,60.899651,NaN
2015-02-06,1722.0,1726.839966,1691.000000,1700.0,1472.034546,2131311.0,57.432436,NaN
2015-02-09,1696.0,1696.000000,1662.000000,1675.0,1450.386963,908501.0,51.826073,NaN
2015-02-10,1672.0,1740.000000,1662.000000,1738.0,1504.938721,1991175.0,57.210772,NaN
2015-02-11,1740.0,1777.000000,1731.000000,1765.0,1528.318115,1656734.0,54.621846,NaN
2015-02-12,1743.0,1770.000000,1725.000000,1742.0,1508.402344,2235488.0,50.590215,NaN
...,...,...,...,...,...,...,...,...
2018-01-29,1674.0,1689.000000,1661.000000,1678.0,1637.124268,2782056.0,69.894968,NaN
2018-01-30,1673.0,1683.500000,1651.500000,1659.0,1618.587158,2665039.0,71.479715,NaN
2018-01-31,1661.5,1681.000000,1655.500000,1660.0,1619.562744,2070351.0,67.034485,NaN
2018-02-01,1660.5,1675.000000,1657.500000,1667.5,1626.880127,2768916.0,69.008272,NaN
2018-02-02,1668.5,1681.000000,1652.500000,1653.0,1612.733276,2462564.0,69.583308,NaN
2018-02-05,1625.0,1652.000000,1601.500000,1641.5,1601.513428,3478097.0,65.867405,NaN
2018-02-06,1600.0,1655.000000,1580.000000,1643.0,1602.976929,3760687.0,68.713432,NaN
2018-02-07,1646.0,1671.500000,1627.000000,1666.5,1625.904419,2649693.0,71.114146,NaN
2018-02-08,1652.0,1673.500000,1602.000000,1608.0,1568.829468,3645545.0,53.352343,NaN
2018-02-09,1599.0,1606.500000,1576.000000,1586.0,1547.365356,2993202.0,53.200567,NaN
2018-02-12,1596.0,1617.500000,1594.500000,1613.0,1573.707764,2137384.0,44.891139,NaN
2018-02-13,1621.0,1648.500000,1621.000000,1632.5,1592.732666,1929099.0,41.769909,NaN
2018-02-14,1644.5,1664.500000,1624.000000,1651.5,1611.269897,1797311.0,50.091425,NaN
2018-02-15,1660.0,1678.000000,1644.000000,1646.0,1605.903809,1619572.0,41.078850,NaN
2018-02-16,1650.0,1672.000000,1641.500000,1647.0,1606.879517,2184042.0,43.290073,NaN
2018-02-19,1646.5,1669.000000,1641.000000,1649.0,1608.830811,899440.0,47.663568,NaN
2018-02-20,1645.0,1677.000000,1644.000000,1675.5,1634.685181,1402680.0,53.235907,NaN
2018-02-21,1657.5,1698.500000,1657.500000,1696.0,1654.685791,1125980.0,55.643543,NaN
2018-02-22,1681.0,1695.500000,1668.500000,1684.5,1643.465942,1811707.0,56.312622,NaN
2018-02-23,1677.0,1677.000000,1631.500000,1631.5,1591.757080,2494368.0,48.281797,NaN
2018-02-26,1636.0,1675.500000,1633.000000,1664.5,1623.953125,2383447.0,53.333323,NaN
2018-02-27,1666.0,1692.500000,1644.500000,1679.0,1638.099976,2548880.0,51.993629,NaN
2018-02-28,1663.5,1695.000000,1663.500000,1679.0,1638.099976,2487501.0,63.921575,NaN
2018-03-01,1645.5,1655.500000,1599.000000,1612.0,1612.000000,2516785.0,62.752264,NaN
2018-03-02,1596.5,1608.500000,1562.000000,1577.0,1577.000000,2344254.0,50.628093,NaN
2018-03-05,1575.5,1605.500000,1567.000000,1597.5,1597.500000,2350920.0,50.904422,NaN
2018-03-06,1598.0,1615.000000,1548.500000,1552.5,1552.500000,4121368.0,39.867946,NaN
2018-03-07,1553.0,1589.000000,1545.500000,1572.5,1572.500000,2461593.0,44.517739,NaN
2018-03-08,1577.0,1584.000000,1555.500000,1578.0,1578.000000,1663627.0,45.329627,NaN
2018-03-09,1581.5,1600.500000,1550.000000,1563.0,1563.000000,1861470.0,42.888418,NaN